<!DOCTYPE html>
<html>
<head>
    <title>App Data</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>App Data</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>App name</th>
                    <th>username</th>
                    <th>Last Connection</th>
                    <th>User ID</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.appname }}</td>
                    <td>{{ application.username }}</td>
                    <td>{{ application.lastconnection }}</td>
                    <td>{{ application.user_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>